#board tbody td {
  table-layout: fixed;
  height: 50px;
  width: 50px;
  border: solid 1px black;
  text-align: center;
  background-color: lightcyan;
}

.msg {
  padding: 1em;
}

.msg.ok {
  color: white;
  background-color: green;
}
.msg.error {
  color: white;
  background-color: red;
}
