<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Boggle!</title>
  </head>
  <body>
    <h1>Boggle Game!</h1>
    <table id="board">
      <tbody>
        {% for row in board %}
        <tr>
          {% for ltr in row %}
          <td>{{ltr}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>Score: <b class="score">0</b></p>
    <form id="add-word">
      <input type="text" placeholder="guess" id="guess" />
      <button>Submit</button>
    </form>
    <p class="msg">
      <!-- JS function showMessage will add message here according to user input -->
    </p>

    <script src="http://unpkg.com/jquery"></script>
    <script src="http://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
